@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #333;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  height: 100vh;
  position: relative;
}
/* ///////////// Navbar //////////// */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}
.navbar input,
.navbar .hamburger {
  display: none;
}
.navbar .logo {
  font-size: 3.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-weight: 400;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #000;
  padding: 1rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.navbar .logo:hover {
  background-color: #53ed6a;
}
.navbar .navbar_list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar .navbar_list {
    gap: 1.5rem;
  }
}
.navbar .navbar_item {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
}
.navbar .navbar_link {
  text-decoration: none;
  color: #333;
}

.navbar .navbar_link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  background-color: #53ed6a;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar_link:hover::after {
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .navbar input,
  .navbar .hamburger {
    display: block;
  }

  .navbar input {
    width: 30px;
    height: 24px;
    position: absolute;
    right: 15px;
    z-index: 2000;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .hamburger {
    width: 30px;
    height: 24px;
    position: absolute;
    right: 15px;
    z-index: 1500;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .hamburger .lines {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    display: block;
    background-color: #000;
  }

  .navbar_list {
    position: absolute;
    justify-content: space-around;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0rem 0.2rem 1.3rem rgba(#000, 0.7);
    width: 45%;
    border-left: 1px solid #000000;
    z-index: 1000;
    text-align: center;
    opacity: 0;
    flex-direction: column;
    transform: translateX(150%);
    transition: all 0.6s ease-in-out;
    height: calc(100vh - 70px);
    top: 70px;
    align-items: center;
  }
  .navbar_link {
    &:link,
    &:visited {
      font-size: 1.6rem;
    }
  }
  input[type="checkbox"]:checked ~ .navbar_list {
    transform: translateX(0%);
    opacity: 1;
  }

  .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
    background-color: #000;
  }

  input[type="checkbox"]:checked ~ .hamburger .line2 {
    display: none;
  }

  input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
    background-color: #000;
  }
}
/* ///////////// Header Center //////////// */

.head_center {
  display: flex;
  justify-content: center;
}
.head_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.head_center p:nth-child(odd) {
  font-size: 6rem;
  font-weight: 600;
  color: #333;
}
@media only screen and (max-width: 56.25em) {
  .head_center p:nth-child(odd) {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .head_center p:nth-child(odd) {
    font-size: 2rem;
  }
}

.head_center p:nth-child(even) {
  font-size: 10rem;
  font-weight: 600;
  color: #53ed6a;
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .head_center p:nth-child(even) {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .head_center p:nth-child(even) {
    font-size: 3.5rem;
  }
}
.mt {
  margin-top: 2rem;
}
.btn {
  background-color: #fff;
  outline: none;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 5rem;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
  align-self: center;
  border: 4px solid #333;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .btn {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .btn {
    font-size: 1.6rem;
  }
}
.btn:hover {
  background-color: #53ed6a;
}
/* ///////////// Portfolio Section //////////// */

.portfolio_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 6rem auto;
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.heading1 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.portfolio .heading2 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}
.slider_box {
  width: 80rem;
  height: 45rem;
  position: relative;
}

.slider {
  width: 80rem;
  height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .left_slide {
  width: 3rem;
  height: 5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-0%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #53ed6a;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.slider .right_slide {
  width: 3rem;
  height: 5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-0%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #53ed6a;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.slider .left_slide:hover,
.slider .right_slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slider > p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #53ed6a;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.circle_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.circle_div > span {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #000;
  border-radius: 3rem;
  cursor: pointer;
}
.active_circle {
  background-color: #53ed6a;
}

.portfolio_text {
  padding: 0 2rem;
  width: 80rem;
}
.portfolio_text > p {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}
.btns_div {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.btn_portfolio {
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 600;
  border: 2px solid #333;
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.btn_portfolio img {
  width: 2rem;
  height: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .slider_box {
    width: 100%;
    height: 56vw;
  }
  .slider {
    width: 100%;
    height: 56vw;
  }
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
  }
  .portfolio_text {
    padding: 0 2rem;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .slider_box {
    width: 100%;
    height: 100vw;
  }
  .slider {
    width: 100%;
    height: 100vw;
  }
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
  }
  .portfolio_text {
    padding: 0 2rem;
    width: 100%;
  }
  .btn_portfolio {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}
/* ///////////// About Section //////////// */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-bottom: 6rem;
  padding: 0 2rem;
}
.about_box {
  display: grid;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}
.img_box {
  width: 32rem;
  height: 32rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  overflow: hidden;
  border: 5px solid #333;
  background-color: #222;
  transition: all 0.6s ease-out;
}
.img_box:hover {
  background-color: #53ed6a;
}
.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_para,
.hobby_para {
  font-size: 2rem;
}
.heading3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
}
.technology_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.technology_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.technology {
  width: 32rem;
  border: 1px solid black;
}
.technology_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  background-color: #333;
}
.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.techimg_box {
  width: 6rem;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.technologies img {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}
.technologies .toolTip {
  font-size: 1.6rem;
  background-color: #53ed6a;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  left: 50%;
  visibility: hidden;
  width: 12rem;
  z-index: 1;
  top: 100%;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: opacity 0.5s;
}
.technologies .toolTip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 5px solid;
  border-color: transparent transparent #53ed6a transparent;
}
.techimg_box:hover .toolTip {
  opacity: 1;
  visibility: visible;
}

.hobby_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hobby_box {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.hobby_img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  gap: 1.5rem;
}
.hobby_img-box {
  width: 6rem;
  max-height: 6rem;
}
.hobby_img-box img {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 56.25em) {
  .about {
    gap: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    padding: 0 4rem;
  }
  .about_box {
    gap: 4rem;
    display: flex;
    flex-direction: column;
  }

  .technology_section {
    align-items: center;
  }
  .technology_box {
    grid-template-columns: 1fr;
  }
  .technology {
    width: 30rem;
  }
  .hobby_box {
    flex-direction: column;
    gap: 4rem;
  }
  @media only screen and (max-width: 37.5em) {
    .heading3 {
      font-size: 2rem;
    }
  }
}
/* ///////////// Resume Section //////////// */
.resume_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
}
.resume_btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.resume_btn {
  padding: 1rem;
  border: 2px solid #333;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.resume_btn img {
  width: 2rem;
  height: 2rem;
}
/* ///////////// Contact Section //////////// */
.contact_section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 30rem;
  margin: 0 auto;
}
.form_group {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.inHover {
  width: 100%;
  padding: 1rem 0.5rem;
  border: none;
  outline: none;
  resize: none;
  background: none;
}
.form_group .borBot {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.form_group .borBotHov {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #53ed6a;
  transition: all 0.3s ease-in-out;
}
.inHover:focus ~ .borBotHov {
  width: 100%;
}
.form_group label {
  font-size: 1.6rem;
  position: absolute;
  top: 6px;
  left: 6px;
  color: #969696;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.inHover:focus ~ label {
  font-size: 1.2rem;
  top: -15px;
}
.form_btn {
  padding: 1rem;
  border: 2px solid #333;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.form_btn img {
  width: 2rem;
  height: 2rem;
}
/* ///////////// Footer Section //////////// */
.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footerLogoBox {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
}
.footerLogo {
  width: 3rem;
  height: 3rem;
}
.footerLogo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.footerLogoBox img:hover {
  transform: scale(1.5);
}
.footerText {
  font-size: 1.6rem;
  text-align: center;
}
